
.nav ul li{
    list-style:none;
   display: inline;
   padding: 10px;
   
   
   
}
.nav li{
    border-right: 2px solid black;
}
.nav{
    text-align: right;
    display: block;
    background-color: gray;
    margin: 0px;
    padding: 5px;
}

.nav ul{
    text-align: right;
    margin: 0px;
    width: 50px;
    display: inline;
}
ul li:hover{
    background-color: beige;
    /* hover عشان لما يةقف الماوس فوقه يتغير او يسوي اكشت  ظ */
}
.nav img{
    /* width: 50px; */
   display: inline;
   margin-right: 900px;
    }


.footer{
    background-color:black;
    color: white;
    padding: 10px;
    text-align: right;
}
body{
    margin: 0px; 
    /* عشان نشيل المسافه بين الصفحه البيضا والطرف  */
}
li:last-child{
    margin-left:none ;
   border-right: none;
}

.container{

display: flexbox;
justify-content: space-around;
align-items: center;
flex-direction: column;
text-align: center;
flex-wrap: nowrap;
  
    
}


    .item {
        
           
            height: 200px;
          
            text-align: center;
            align-items: center;
            display:flex;
            justify-content: center;
             /* /* تمشي على مستوى الاعمده * */
            border: 2px solid thistle;
            
        }

.design2
{
    font-size: 30px;
    background-color: lightgrey;
    font-weight: bold;
}

.item img{
    width: 150px;
    padding: 20px;
    
}