body{
background: thistle;
outline: 2px double seagreen;
font-size: 20px

}
h1{
    color: blanchedalmond;
}
h2, h3{
    color:darkslategrey;
}
.csslink{
    color:gray;
    border: 3px solid  cadetblue;
    padding: 7px;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}
.infolink{
    color: aliceblue;
    border: 3px solid cadetblue;
    padding: 7px;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}
img{
    padding: 9px;
    border: 4px solid darkolivegreen;
    width: 450px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.question{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px; 
    border: 4px solid  cadetblue;
}